.icon {
  width: 1.1em;
  height: 1.1em;
  display: inline-block;
  vertical-align: text-top;
  margin-right: 0.25em;
  position: relative;
  fill: currentColor;
}

.i-trophy { padding-left: 0.1em }

.i-heart { padding-left: 0.1em }

.i-right-open { margin-right: 0 }
