#main {
  padding: 0.1cm;
  grid-area: main;
}

#main section {
  padding-left: 0.4em;
  margin-bottom: 0.3cm;
  h2 { font-size: x-large }
  h3 {
    font-size: larger;
    padding: 0.25cm 0 0;
    text-transform: capitalize;
  }
  ul li {
    padding: 0.3em 0 0 0.4em;
    .icon {
      top: 0.15em;
      vertical-align: baseline;
      margin: 0 0.35em 0 -0.25em;
    }
  }
  ol li {
    padding: 0 0 0 0.9em;
    white-space: pre-wrap;
    .icon {
      top: 0.1em;
      width: 0.9em;
      height: 0.9em;
      vertical-align: baseline;
      margin: 0 -0.1em 0 0.05em;
    }
  }
}

#main #personal {
  padding: 0.125cm 0 0.05cm;
}
