@page {
  size: $page-size;
  -relaxed-page-width: #{$page-width}cm;
  -relaxed-page-height: #{$page-height}cm;
}

body {
  gap: 0 1em;
  display: grid;
  grid-template: 1fr 2.5em / auto 2fr;
  grid-template-areas:
    'sidebar main'
    'sidebar footer';
  margin: $page-margins;
  @media not print {
    width: #{$page-width}cm;
    height: #{$page-height}cm;
  }
}

footer {
  opacity: 0.25;
  grid-area: footer;
  text-align: right;
  margin-right: 1.5em;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

a, a:hover {
  outline: none;
  color: inherit;
  text-decoration: underline;
  text-decoration-color: darkcyan;
  text-decoration-thickness: 10%;
}

pre {
  margin: 0;
  font-family: inherit;
  white-space: pre-wrap;
}

section, nav {
  page-break-inside: avoid;
}

* { box-sizing: border-box }
