#sidebar {
  float: left;
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  background-color: gainsboro;
  padding: 0.25cm 0.5cm;
}

#sidebar section {
  margin-top: 0.3cm;
  h3 {
    text-transform: uppercase;
    padding: 0.25cm 0 0.125cm;
  }
  ul li {
    padding-left: 0.5em;
    .icon {
      width: 0.75em;
      height: 0.75em;
      margin: 0 0.35em 0 -0.25em;
      vertical-align: baseline;
    }
  }
  ol li {
    padding-left: 0.65em;
    .icon { margin: 0 0 0 0.05em }
  }
}
