#sidebar {
  padding: 0.3cm;
  grid-area: sidebar;
  background-color: gainsboro;
  @media print {
    height: 100vh;
  }
}

#sidebar section {
  margin-top: 0.3cm;
  h3 {
    text-transform: uppercase;
    padding: 0.25cm 0 0.125cm;
  }
  ul li {
    padding-left: 0.5em;
    .icon {
      width: 0.75em;
      height: 0.75em;
      vertical-align: baseline;
      margin: 0 0.35em 0 -0.25em;
    }
  }
  ol li {
    padding-left: 0.65em;
    .icon { margin: 0 0 0 0.05em }
  }
}
