mixin icon(name)
  svg(class=`icon i-${name}`)
    use(href=`#${name}`)
  block

include pug/_info.pug

include icons/entypo.svg

main#main
  include pug/_main.pug

aside#sidebar
  include pug/_sidebar.pug

if repo
  footer#footer
    a(href=repo)= RegExp('^(?:https?://)?(.*)').exec(repo)[1]

style
  include:scss resume.scss
