- var phone = ''
- var email = 'chronobserver@disroot.org'
- var homepage = 'https://observeroftime.github.io'
- var github = 'ObserverOfTime'
- var linkedin = ''
- var facebook = ''
- var twitter = 'chronobserver'
- var repo = 'https://github.com/ObserverOfTime/resume'
